<main class="register-page">
  <section class="register-page__top-section">
    <div class="register-page__logo">
      <h1 i18n="@@ai-doctor-logo">AI doctor</h1>
    </div>
    <h2 class="register-page__subtitle" i18n="@@register-subtitle">Please Register Before Login</h2>
  </section>
  <form class="register-page__form" [formGroup]="registerForm" (ngSubmit)="sendForm()">
    <div class="form-control__container">
      <sl-input
        class="input--primary"
        placeholder="Fullname"
        label="Full Name*"
        size="medium"
        i18n-label="@@fullname-label"
        i18n-placeholder="@@fullname-placeholder"
        appSlInputIconFocus
        appTrim
        required
        ngDefaultControl
        [formControl]="formControls.name"
      >
        <sl-icon name="person" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        class="input--primary"
        placeholder="Placeholder"
        label="Email*"
        size="medium"
        i18n-label="@@email-label"
        i18n-placeholder="@@email-placeholder"
        appSlInputIconFocus
        appLowercase
        appTrim
        required
        ngDefaultControl
        [formControl]="formControls.email"
      >
        <sl-icon name="mail" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        type="password"
        class="input--primary"
        placeholder="Password"
        password-toggle
        label="Password*"
        size="medium"
        i18n-label="@@password-label"
        i18n-placeholder="@@password-placeholder"
        appSlInputIconFocus
        required
        ngDefaultControl
        [formControl]="formControls.password"
      >
        <sl-icon name="lock" slot="prefix" />
      </sl-input>
    </div>
    <div class="form-control__container">
      <sl-input
        class="input--primary"
        placeholder="Input Phone Number"
        label="Phone Input*"
        size="medium"
        i18n-label="@@phone-label"
        i18n-placeholder="@@phone-placeholder"
        appSlInputIconFocus
        appTrim
        required
        ngDefaultControl
        [formControl]="formControls.phone"
      >
        <sl-icon name="phone" slot="prefix" />
      </sl-input>
    </div>
    <button type="submit" class="button--primary" i18n="@@register-button">Register</button>
    <p class="register-page__footer">
      <span i18n="@@have-account">Have an account?</span> <a href="/login" class="register-page__login-link" i18n="@@login-link">Login Here</a>
    </p>
  </form>
</main>
